body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    background-color: #333;
}

div.logo {
    min-width: 100%;
    position: static;
}

div.logo img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
}


main {
    padding: 2rem;
}

.slider {
    max-width: 500px;
    margin: 0 auto 2rem;
}

.slider img{
    width: 500px;
    height: 300px;
}
.slider#car-page{
    max-width: 500px;
    margin: 0 auto 2rem;
}

.slider#car-page img{
    width: 480px;
    height: 360px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
