body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    background-color: #333;
}

div.logo {
    min-width: 100%;
    position: static;
}

div.logo img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
}

main {
    padding: 2rem;
}

.slider {
    max-width: 500px;
    margin: 0 auto 2rem;
}

.slider img {
    width: 500px;
    height: 300px;
}
.slider#car-page {
    max-width: 500px;
    margin: 0 auto 2rem;
}

.slider#car-page img {
    width: 480px;
    height: 360px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.auth-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin: 5px 85px;
    opacity: 90%;
}

.dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    min-width: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 5px;
}
.dropdown,
.dropdown-menu.show {
    border-radius: 7px;
}

.chat-container {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ddd;
}

#chatbox {
    /* height: 300px; */
    overflow-y: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.user-message,
.assistant-message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.user-message {
    background-color: #a1c8eb;
}

.assistant-message {
    background-color: #f5d4ea;
}

form {
    display: flex;
    justify-content: space-between;
}

form input[type="text"] {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

form button {
    /* width: 13%; */
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}